<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>assignment 2</title>
    <style>
        #formpage-main-container {
            border: 1px solid black;
            width: 325px;
            height: 180px;
            padding: 10px;
            font-size: x-large;
            background-color: rgb(230, 199, 199);
        }

        input {
            height: 25px;
            width: 320px;
            margin-bottom: 10px;
        }

        #submit {
            margin-top: 3px;
            margin-left: 35%;
            width: 80px;
            height: 30px;
            font-size: medium;
            
            
        }
        body{
            margin-left: 45%;
            margin-top: 12%;
            background-color: rgb(180, 227, 211);
        }
    </style>
</head>

<body>
    <h2>Form page</h2>
    <form id="formpage-main-container" action="/">
        <section class="formpage">
            <label for="name">Name:</label> <br>
            <input type="text" name="Name" /> 
        </section>
        <section>
            <label for="name">Email:</label> <br>
            <input type="email" name="Email" />
        </section>

            <input id="submit" type="submit" />
    </form>
</body>

</html>